<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IntegralServlet</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.IntegralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookies</servlet-name>
        <servlet-class>pl.polsl.lab.servlets.Cookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntegralServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookies</servlet-name>
        <url-pattern>/cookies</url-pattern>
    </servlet-mapping>
</web-app>
